.menu-container,
.menu-container__content {
    background-color: var(--main-white-color);
    box-shadow: var(--main-shadow-color) 6px 0px 12px -6px;
    width: 25%;
    min-width: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-container__header {
    display: flex;
    height: 32px;
    justify-content: space-around;
    background: var(--primary-color-normal);
    border-bottom: 1px solid var(--primary-color-shade);
    padding: 5px 3px 0 3px;
}

.menu-tab-button {
    height: 100%;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: var(--secondary-color-tint);
    outline: 0px;
    margin: 0 3px 0 0;
    border: 0px;
    font-weight: bold;
    font-size: 1.2em;
}

.menu-tab-button.--active {
    background-color: var(--secondary-color-shade);
}

.menu-tab-button:last-child {
    margin-right: 0;
}

.menu__header {
    height: 36px;
    background: var(--primary-color-normal);
    border: 0px solid var(--primary-color-shade);
    font-weight: bold;
    padding: 0px 10px;
    flex-shrink: 0;
}

.menu__header__inner {
    padding: 5px;
}

.menu__content {
    padding: 10px 0 0 0;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
}

.menu__controls {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--primary-color-tint);
    padding: 5px 0 0 0;
    margin: 5px 0 0 0;
    flex-shrink: 0;
}

.menu__controls,
.menu__card--content {
    --cotent-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.menu__controls .input-container,
.menu__card--content .input-container {
    display: flex;
    height: var(--cotent-height);
    justify-content: space-between;
    background: var(--secondary-color-tint);
    border: 0px;
    color: var(--main-black-color);
    border-radius: 25px;
    padding: 0px 10px;
    margin: 0px 5px;
    flex-grow: 1;
}

.menu__controls input,
.menu__card--content .input-container input {
    height: 100%;
    font-weight: 200;
    line-height: var(--cotent-height);
    outline: 0px;
    border: 0px;
    background: transparent;
    flex-shrink: 1;
    font-size: 1.2em;
    padding-left: 5px;
}

.menu__controls input[type='text'],
.menu__card--content .input-container input[type='text'] {
    width: 100%;
}

.menu__controls select,
.menu__card--content .input-container select {
    height: 100%;
    max-width: 40%;
    font-weight: 200;
    line-height: var(--cotent-height);
    outline: 0px;
    border: 0px;
    background: var(--primary-color-tint);
    margin-left: 5px;
    margin-right: -10px;
    font-size: 1.2em;
}

.menu__controls__button-container,
.menu__card--content__button-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: var(--cotent-height);
    flex-shrink: 0;
    margin-right: 5px;
}

.menu__controls button,
.menu__card--content__button-container button {
    width: var(--cotent-height);
    height: var(--cotent-height);
    line-height: 12px;
    background: var(--secondary-color-tint);
    border: 0px;
    border-radius: 50%;
    outline: 0px;
    font-size: 1.25em;
    padding: 0;
}

.menu__cards {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.menu__groups {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 40%;
}

.file-settings-container {
    --cotent-height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.file-settings-container button {
    width: var(--cotent-height);
    height: var(--cotent-height);
    line-height: 12px;
    background: var(--secondary-color-tint);
    border: 0px;
    border-radius: 50%;
    outline: 0px;
    font-size: 1.25em;
    padding: 0;
}